<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lostfound">

    <!-- הרשאות נדרשות עבור Google Maps -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- הרשאות קיימות -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LostFound"
        tools:targetApi="31">

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC-pDMqYGHqgu4cr-r2Ah87RSE_a4EGd7I" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" /> <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/orange_700" />

        <activity
            android:exported="false"
            android:name="com.example.lostfound.LoginActivity" />
        <activity
            android:exported="true"
            android:name="com.example.lostfound.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="false"
            android:name="com.example.lostfound.RegistrationActivity" />
        <activity
            android:exported="false"
            android:name="com.example.lostfound.UserDetailsActivity" />
        <activity
            android:exported="false"
            android:name="com.example.lostfound.UserActivity" />
        <activity
            android:exported="false"
            android:name="com.example.lostfound.AdminActivity" />
        <activity
            android:exported="false"
            android:name="com.example.lostfound.AllCasesActivity" />
        <activity
            android:exported="false"
            android:name="com.example.lostfound.MyCasesActivity" />
        <activity
            android:exported="false"
            android:name="com.example.lostfound.NewCaseActivity" />
        <activity
            android:exported="false"
            android:name="com.example.lostfound.CaseDetailsActivity" />

        <activity
            android:exported="false"
            android:name="com.example.lostfound.EditProfileActivity" />
        <activity
            android:exported="false"
            android:name="com.example.lostfound.AdminEditCaseActivity" />
        <activity
            android:exported="false"
            android:name="com.example.lostfound.UserManagementActivity" />
        <activity
            android:exported="false"
            android:name="com.example.lostfound.NotificationReceiver"
            tools:ignore="Instantiatable" />

    </application>

</manifest>
